<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= tag :link, { rel: 'shortcut icon', href: image_path('favicon.ico') }, true %>
    <title>Galleries</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="galleries">
    <nav class="navbar navbar-default" role="navigation" ng-controller="NavigationController">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href ng-click="rootPath()" class="navbar-brand">Galleries</a>
        </div>

        <div class="collapse navbar-collapse" id="primary-navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isActiveExact('/') }">
              <a href ng-click="rootPath()">Home</a>
            </li>
            <li ng-class="{ active: isActive('/galleries') }">
              <a href ng-click="galleriesPath()">Galleries</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container view-container" id="main" role="main">
      <div ng-view class="view-frame animate-view">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>